#Archivo de ejemplo para variables de entorno, renombrar a .env y agregar tus valores
SECRET=django-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,#Agregar ip de su pc o servidor
DATABASE_NAME=#Tu nombre de base de datos
DATABASE_USER=#Tu usuario de mysql, por default es root
DATABASE_PASSWORD=#Tu contraseña de mysql
DATABASE_HOST=#Tu host de mysql, por default es localhost
DATABASE_PORT=#Tu puerto de mysql, por default es 3306
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173#host de ejemplo
LOG_LEVEL=DEBUG
CLASSROOM_ENCRYPTION_KEY=a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2