#Archivo de ejemplo para variables de entorno, renombrar a .env y agregar tus valores
SECRET=django-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,#Agregar ip de su pc o servidor
DATABASE_NAME=#Tu nombre de base de datos
DATABASE_USER=#Tu usuario de mysql, por default es root
DATABASE_PASSWORD=#Tu contraseña de mysql
DATABASE_HOST=#Tu host de mysql, por default es localhost
DATABASE_PORT=#Tu puerto de mysql, por default es 3306
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173#host de ejemplo
LOG_LEVEL=DEBUG